.back-btn {
    outline: none;
    border: none;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: var(--nav-link-border-radius);
    padding: 0.5em 0.2em;
    font-size: 1em;
    transition: box-shadow 0.1s ease-in;
    position: absolute;
    top: 1.2em;
    left: 8.5em;
}

.back-btn:hover, .back:focus {
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.45);
}