.folder{
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
}

.folder-icon{
    width: 70px;
    height: 70px;
    color: #469FFF;
}

.folder-name{
    font-family: sans-serif;
    font-size: medium;
    margin-top: 5px;
}